*,
::before,
::after {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    padding: 0;
    font-family: 'Inter', sans-serif;
    line-height: 1.3;
}

h1,
h3,
p {
    margin-top: 0;
    margin-bottom: 0;
}

header {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('assets/header-bg.png') no-repeat 85% 15%;
    background-size: cover;
    position: relative;
}

.container-title {
    height: 30vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

header h1 {
    font-size: 2.625rem;
    margin-left: 30px;
}

header p {
    font-size: 0.875rem;
    margin-right: 30px;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -25px;
    left: 0;
    right: 0;
    width: 80%;
    margin: 0 auto;
}

form input,
button {
    font-family: inherit;
    font-size: 1.25rem;
    border: 1px solid #D1D5DB;
    font-weight: 500;
}

form input {
    background: #F9FAFB url('assets/magnifying-glass-solid.svg') no-repeat 10px center;
    padding: .5em .5em .5em 2em;
    background-size: 20px 20px;
    border-radius: 5px 0 0 5px;
}

form button {
    border-radius: 0 5px 5px 0;
    background-color: #F9FAFB;
    color: #374151;
    padding: .5em 1em .5em 1em;
    cursor: pointer;
}

form input:focus {
    outline: none;
}

form button:hover {
    color: #ffffff;
    text-shadow: 1px 1px #424242;
    background-color: #ffd43b;
}

.container {
    margin-top: 80px;
}

.container-empty {
    text-align: center;
    margin-top: 180px;
}

.container-empty p {
    color: #dfdddd;
    font-weight: 700;
    font-size: 1.125rem;
}

.empty-icon {
    height: 120px;
    width: 120px;
    opacity: 0.2;
}

.container-search-failed {
    text-align: center;
    margin: 150px 30px 0 30px;
}

.container-search-failed h3 {
    color: #374151;
    font-size: 1.5rem;
    font-weight: 700;
}

.container-movie {
    display: grid;
    grid-template-columns: 150px 1fr;
    gap: 1.5em;
    margin: 2em 2em 2em 2em;
    border-bottom: 1px solid #D1D5DB;
    padding-bottom: 2em;
}

.container-movie:last-child {
    border: none;
}

.poster {
    width: 150px;
    height: 200px;
    border-radius: 5px;
}

.movie-info {
    display: flex;
    flex-direction: column;
    align-self: center;
}

.movie-data {
    display: flex;
    align-items: center;
    gap: 1em;
    margin-bottom: 1em;
}

.movie-title {
    font-size: 1.5rem;
    font-weight: 500;
}

.rating {
    font-size: 0.875rem;
}

.movie-details {
    display: flex;
    align-items: center;
    gap: 1.25em;
    margin-bottom: 1em;
}

.plot {
    color: #6B7280;
    font-weight: 400;
    font-size: .875rem;
}

.add-remove-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-family: inherit;
    font-size: 0.875rem;
    font-weight: 400;
}

.runtime,
.genre {
    font-size: 0.875rem;
}

@media (max-width: 480px) {
    .container-title{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 20vh;
    }
    .container-movie{
        grid-template-columns: 1fr;
    }

    .movie-data {
        flex-direction: column;
        align-items: flex-start;
    }

    .poster {
        margin: 0 auto;
        width: 100px;
        height: 150px;
    }

    form input {
        width: 60vw;
    }

    header h1 {
        font-size: 2.625rem;
        margin-bottom: 0.25em;
        margin-left: 0;
    }
    
    header p {
        margin: 0;
    }
}

@media (min-width: 768px) {
    body{
        width: 768px;
    }

    .container-title {
        height: 30vh;
    }

    .container-movie {
        margin: 2em 4em 2em 4em;
    }

    form input {
        width: 60vw;
    }

    .plot {
        font-size: 1rem;
    }

    .movie-title {
        font-size: 2rem;
    }

    .rating {
        font-size: 1rem;
        font-weight: 400;
    }

}